# Dependencies
node_modules

# Expo / EAS
.expo
.expo-shared
dist
web-build
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
expo-env.d.ts

# Native
android
ios

# Environment
.env
.env.local

# TypeScript
*.tsbuildinfo

# Tooling
.claude

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Project-specific
design
